body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFF;
    color: #434455;
 }


 a {
    text-decoration: none;
}
ul {
	list-style-type: none;
}

.logo-style {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 44px;
 }
 .Logo { 
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 71px;
 }
 .link-nav .link  { 
color: var(--NAVY-BLUE, #2E2F42);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;

 }
 .link-nav .link:hover {
   color: #404BBF;
  }

.addresss-contacts .contacts {
color: var(--SLATE, #434455);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
  }
  
.addresss-contacts .contacts:hover { 
    color: #404BBF;
  }
  /* section1 */

.hero { 
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}
.hero__title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}

.hero-button {
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;

}
.hero-button:hover, .hero__button:focus {
background-color: #404BBF;
}

/* section2 */
.company-name { 
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
    width: 264px;
}
.company-text { 
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    width: 264px;
}

/* section3 */
.team { 
    background: var(--CLOUD, #F4F4FD);
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
}
.team-name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.team-photo {
    background: var(--WHITE, #FFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    display: inline-flex;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    text-align: center;
    
    
}
.team-heroes {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.team-profession {
    color: var(--SLATE, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.portfolio {
    background: #FFF;
    
}
.portfolio-name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.portfolio-list { 
    border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
display: inline-flex;
padding-bottom: 32px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
}

.portfolio-one {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px;
}
.portfolio-title { 
    color: var(--SLATE, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
/* footer */
.footer-content {
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
height: 312px;
flex-shrink: 0;
}

.logo-two { 
    color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;

}

.footer-logo { 
    color: var(--CLOUD, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.footer-info {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
  
}